* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        background-color: rgb(53, 53, 53);
        color: white;
        font-family: sans-serif;

        .container {
            position: relative;
            max-width: 1200px;
            min-height: 100vh;
            margin: 0 auto;
            border: 1px solid wheat;
        }
    }
}