<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <div class="container">
        <header>
            <%- include('partials/header.ejs') %>
        </header>
    </div>

    <%- include('partials/foot.ejs') %>
</body>
</html>