<div class="menu">
    <div class="logo">
        <h1>AlisonLetos</h1>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/register">Cadastrar</a>
            </li>
            <li>
                <a href="/listUsers">Listagem de clientes</a>
            </li>
        </ul>
    </nav>
</div>